<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Stock Graph Form</h1>
    <form action="/submit" method="post">

        <label for="symbol">Stock Symbol:</label>
        <select id="symbol" name="symbol" required>
            {% for symbol in symbols %}
                <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>

        <label for="timeSeries">Time Series:</label>
        <select id="timeSeries" name="timeSeries" required>
            <option value="INTRADAY">Intraday</option>
            <option value="DAILY">Daily</option>
            <option value="WEEKLY">Weekly</option>
            <option value="MONTHLY">Monthly</option>
        </select>

        <label for="chartType">Chart Type:</label>
        <select id="chartType" name="chartType" required>
            <option value="Line">Line</option>
            <option value="Bar">Bar</option>
        </select>

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" 
            required min="2000-01-01" max="{{ now }}"
            onchange="setEndDateMin(this.value)"
        >

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" required
        min="{{ startDate }}" max="{{ now }}"
        >

        <!-- script to handle dynamically updating the end date min value to be startdate value -->
        <script>
            function setEndDateMin(startDate){
                document.getElementById("endDate").min = startDate
                // ahhh javascript how i miss you <3
            }
        </script>
        
            <button type="submit">Generate Graph</button>
    </form>
    
    {% if chart_exists %}
        <h1>Stock Graph</h1>
        <div id="chart-container">
            <img src ="/static/chart.svg" alt="Stock Chart">
        </div>
    {% endif %}

    
</body>
</html>